<li> <strong>Date: </strong> {{announcement.date}} <br>
  <strong>Title: </strong>{{announcement.title}} <br>
  <strong>Message: </strong>{{announcement.message}}</li>
<button {{action 'delete' announcement}}>Admin Delete Announcement</button>
<br>
<br>
