img {
  height : 250px;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

.announcement {
  font: red !important;
}

.map-display {
    height: 600px;
    width: 600px;
  }
